<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoBasesDatos1.Properties.Settings.tecnologiaConnectionString"
            connectionString="Data Source=10.1.4.119;Initial Catalog=tecnologia;User ID=b40371;Password=b40371"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>